#video{
    width: 100%;
    height: 800px;
    border: none;
}
.Travelmain_div{
    border: 1px lightseagreen
}
body{
    text-align:center;
}
.movie-head{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;

}